<div class="left-columns">
	<div class="col col-red">
		<ul>
			<li><%= link_to 'Program Information', what_is_wcsf_path %></li>
			<li><%= link_to 'Our Students', students_path %></li>
			<li><%= link_to 'Our Staff', staff_path %></li>
			<li><%= link_to 'Community Partners', partnerships_path %></li>
			<li><%= link_to 'Our Donors', donors_path %></li>
			<li><%= link_to 'Donate Now', donate_path %></li>
		</ul>
	</div>
	<div class="col col-yellow">
		<ul>
			<li><%= link_to 'News & Announcements ', '' %></li>
			<li><%= link_to 'Calandar of Events', '' %></li>
			<li><%= link_to 'Apply Page', apply_path %></li>
			<li><%= link_to 'Application Requirements', apply_path %></li>
			<li><%= link_to 'Application Prep', apply_path %></li>
			<li><%= link_to 'Online Application', apply_path %></li>
		</ul>
	</div>
	<div class="col col-green">
		<ul>
			<li><%= link_to 'Resources', '' %></li>
			<li><%= link_to 'Scholarship Database', '' %></li>
		</ul>
	</div>
	<div class="col col-pink">
		<ul>
			<li><%= link_to 'Login', new_user_session_path %></li>
			<li><%= link_to 'Contact Us', contact_path %></li>
		</ul>
	</div>
</div>
<div class="right-columns">
	<div class="col col-blue">
		<p>The Waianae Coast Scholarship Fund (WCSF) is a federally recognized 501c3 non-profit organization. All contributions will be tax-exempt.</p>
		<p>Copyright &copy; 2013 Waianae Coast Scholarship Fund</p>
	</div>
</div>
