<div class="left-columns">
	<div class="col col-red">
		<ul>
			<li><%= link_to 'Home', '' %></li>
			<li><%= link_to 'Home', '' %></li>
			<li><%= link_to 'Home', '' %></li>
		</ul>
	</div>
	<div class="col col-yellow">
		<ul>
			<li><%= link_to 'Home', '' %></li>
			<li><%= link_to 'Home', '' %></li>
			<li><%= link_to 'Home', '' %></li>
		</ul>
	</div>
	<div class="col col-green">
		<ul>
			<li><%= link_to 'Home', '' %></li>
			<li><%= link_to 'Home', '' %></li>
			<li><%= link_to 'Home', '' %></li>
		</ul>
	</div>
	<div class="col col-pink">
		<ul>
			<li><%= link_to 'Home', '' %></li>
			<li><%= link_to 'Home', '' %></li>
			<li><%= link_to 'Home', '' %></li>
		</ul>
	</div>
</div>
<div class="right-columns">
	<div class="col col-blue">
		<p>The Waianae Coast Scholarship Fund (WCSF) is a federally recognized 501c3 non-profit organization. All contributions will be tax-exempt.</p>
		<p>Copyright &copy; 2013 Waianae Coast Scholarship Fund</p>
	</div>
</div>
