
	<div class="user-actions">
		<%= link_to 'Apply', apply_path, class: 'apply-button' %>
		<%= link_to 'Donate now', donate_path, class: 'donate-button' %>
	</div>
	<div class="logo">
		<%= link_to root_path do %>
			<%= image_tag 'wcsf-logo-text.png' %>
		<% end %>
	</div>
	<div class="navigation">
		<ul>
			<%= link_to '<li>Home</li>'.html_safe, root_path %>
			<%= link_to '<li>What is the WCSF?</li>'.html_safe, what_is_wcsf_path %>
			<%= link_to '<li>News & Announcements</li>'.html_safe, "http://news.wcsfscholars.org"  %>
			<%= link_to '<li>Our Students</li>'.html_safe, students_path %>
			<%= link_to '<li>Our Staff</li>'.html_safe, staff_path %>
			<%= link_to '<li>Our Donors</li>'.html_safe, donors_path %>
			<%= link_to '<li>Partnerships</li>'.html_safe, partnerships_path %>
			<%= link_to '<li>Calendar</li>'.html_safe, calendar_path %>
			<%= link_to '<li class="last-nav-link">Contact Us</li>'.html_safe, contact_path %>
		</ul>
	</div>
	<% if current_user %>
		<div class="sign-in">
			<p class="" style="padding: 10px;">Logged in as: <span class="text-dark-blue"><%= current_user.email %></span></p>
			<div style="text-align: center">
				<%= link_to "Imua Portal", global_badges_path, :class => 'btn btn-success' %>
				<%= link_to 'Sign out', destroy_user_session_path, :class => 'btn btn-info sign-out', :method => 'delete' %>
			</div>
		</div>
	<% else %>
		<div class="sign-in">
			<%= form_for("user", :url => user_session_path) do |f| %>
			  <%= f.label :email %>
			  <%= f.email_field :email %>

			  <%= f.label :password %>
			  <%= f.password_field :password %>

		    <%= f.check_box :remember_me %> <%= f.label :remember_me, class: 'remember-me' %>

			  <%= f.submit "Sign in", class: 'btn btn-info pull-right' %>
			<% end %>
		</div>
	<% end %>
