<div class="page-title">
	<h1>Our Staff</h1>
</div>
<div class="page-content">
	<p>The WCSF is operated entirely by volunteer teachers and community members, most of which work in the Waianae community. There are three teams of volunteers: (1) the Waianae High School team, (2) the Waianae Intermediate team, and (3) and the Community Team. The fundraising, community partner development, recruiting, marketing, student mentoring and tracking, and all of the other business functions of the WCSF are completed by these generous staff members, who truly care about the educational success of these children.</p>
	<div class="staff-members">

		<div class="staff-member clearfix">
			<h3>President</h3>
			<%= image_tag 'staff/mark-cassidy.jpg' %>
			<div class="staff-member-description">
				<h4>Mark Cassidy</h4>
				<h5>Background</h5>
				<p>Mark Cassidy studied mechanical engineering and business at the University of Illinois. He worked for the Hawai`i DOE as an 8th algebra teacher for two years at Waianae Intermediate. He holds a Master's Degree in Secondary Mathematics from the University of Hawai`i. In 2012, him and his colleague Dane Carlson founded the Waianae Coast Scholarship Fund as a means to provide educational opportunity for leeward coast students. </p>
				<h5>Why do you work the WCSF?</h5>
				<p>I work for the WCSF because I understand that children are products of their environments, and when you enrich the educational environment that they are a part of, you improve their likelihood of success. I work for the WCSF because I hope that it helps disrupt the status quo and help eliminate the opportunity disparity between leeward schools and their affluent counterparts. </p>
			</div>
		</div>
		<div class="staff-member clearfix">
			<h3>Program Director</h3>
			<%= image_tag 'staff/kate-goedeker.jpg' %>
			<div class="staff-member-description">
				<h4>Kate Goedeker</h4>
				<h5>Background</h5>
				<p>Kate Goedeker studied politics at Loyola University Chicago and worked in Chicago Public Schools from 2005-2008. Kate joined the Hawaii Department of Education as an 8th grade social studies teacher at Waianae Intermediate School in 2008. After teaching for three years and earning her Masters in Education, she accepted a leadership position at Waianae Intermediate. For the past two years, she has been coaching and mentoring teachers. Though Kate misses teaching students immensely, she is inspired to continuously improve Hawaii's education system through working with teachers and administration.</p>
				<h5>Why do you work the WCSF?</h5>
				<p>The Waianae Coast Scholarship Fund offers an avenue for me and my colleagues to continue to directly impact students and assist excellent students realize college. Learning with WCSF students and participating in service projects with scholars is incredibly inspiring and motivating.</p>
			</div>
		</div>
		<div class="staff-member clearfix">
			<h3>Program Advisor</h3>
			<%= image_tag 'staff/chad-jens.jpg' %>
			<div class="staff-member-description">
				<h4>Chad Jens</h4>
				<h5>Background</h5>
				<p>Chad Jens taught Algebra 1 and Geometry at Waianae High School from 2011-2013, and he found the experience life changing.  Chad originally intended to be an engineer, graduating from the University of Connecticut in 2011 with a B.S. in Chemical Engineering.  However, his Teach For America experience left him determined to improve educational opportunities for all students.  Chad now works for Pearson Education, where he combines his two passions by creating engineering curriculum for students.</p>
				<h5>Why do you work the WCSF?</h5>
				<p>I work for the WCSF because I have seen the positive effect this program has on students, and I know that they deserve it.  I was with this program at its inception and I intend to continue contributing as long as I am useful.</p>
			</div>
		</div>
		<div class="staff-member clearfix">
			<h3>Program Director</h3>
			<%= image_tag 'staff/jennifer-hebein.jpg' %>
			<div class="staff-member-description">
				<h4>Jennifer Hebein</h4>
				<h5>Background</h5>
				<p>Jennifer Hebein is a 9th grade Algebra and Geometry teacher at Waianae High School. She grew up in Yorba Linda, CA and attended Pomona College, where she earned a B.A. in Economics and minor in Politics. After college, Jennifer joined the Teach for America program to work with communities and schools to inspire and prepare students to achieve academic and personal success. Jennifer is currently pursuing a Master’s in Education in Educational leadership at Chaminade University.</p>
				<h5>Why do you work the WCSF?</h5>
				<p>I’m proud to work for the WCSF because I believe the program helps students gain the requisite skills and knowledge for admittance and success in college. It is truly rewarding to work with these motivated and hard-working students and watch them progress towards their goals.</p>
			</div>
		</div>
		<div class="staff-member clearfix">
			<h3>Recruiting</h3>
			<%= image_tag 'staff/arezu-hadjialiloo.jpg' %>
			<div class="staff-member-description">
				<h4>Arezu Hadjialiloo</h4>
				<h5>Background</h5>
				<p>Arezu's background is Persian (my name means "wish" in Farsi), but she was born and raised in Northern Virginia. She studied English at The George Washington University and is now an eighth grade ELA teacher at Waianae Intermediate. Her hobbies include traveling, reading, hiking, and trying new foods. She is looking forward to mentoring our scholars to ensure they stay on the college-bound track.</p>
				<h5>Why do you work the WCSF?</h5>
				<p>I work for the WCSF because I truly believe this community is filled with outstanding students who have the potential to achieve great accomplishments. The purpose of this organization is to provide the support that is necessary to push our scholars to reach that potential.</p>
			</div>
		</div>
		<div class="staff-member clearfix">
			<h3>Community Partnership Chair</h3>
			<%= image_tag 'staff/dane-carlson.jpg' %>
			<div class="staff-member-description">
				<h4>Dane Carlson</h4>
				<h5>Background</h5>
				<p>Born and raised in Kāneʻohe, Hawaiʻi, Dane Carlson is a graduate of the University of Hawaiʻi at Mānoa and a 2010 Teach For America Hawaiʻi Corps Member.  Having served his two-year committment as a 7th Grade Teacher at Wheeler Middle School, Dane currently works as an Analyst for Kamehameha Schools.  Dane hopes to instill the sense of possibility, afforded by a college education, in working with some of the Waianae Coast's brightest youth.</p>
				<h5>Why do you work the WCSF?</h5>
				<p>I believe the WCSF to be the mobile for change in redefining and reshaping academic excellence for the Waianae Coast.</p>
			</div>
		</div>
		<div class="staff-member clearfix">
			<h3>Donation Chair</h3>
			<%= image_tag 'staff/nina-beckwith.jpg' %>
			<div class="staff-member-description">
				<h4>Nina Beckwith</h4>
				<h5>Background</h5>
				<p>Nina Leialoha Beckwith, is part-Native Hawaiian, born and raised in Kailua, graduated from Kalaheo High School and went to the University of California, Davis to earn a B.S. in Neurobiology, Physiology, and Behavior and a minor in art studio. She was a 7th grade life science teacher at Wai'anae Intermediate School from 2010 -2012. She has supported students in their pursuit of higher education through working with programs such as Upward Bound, TRiO Scholars, and the Educational Opportunity Program. As an aspiring doctor, she has become an activist in the community by designing a pre-health professionals program to create a pipeline for middle school students interested in health careers. </p>
				<h5>Why do you work the WCSF?</h5>
				<p>I support and dedicate my efforts to the WCSF because it is designed to help students pursue a college education and ultimately their dreams in life. I desire to see more of Hawai'i's bright keiki in higher education and as leaders in our community.</p>
			</div>
		</div>

	</div>

</div>



