<div class="page-title">
	<h1>Our Students</h1>
</div>
<div class="page-content">
	<div class="students clearfix">

		<div class="student">
			<%= image_tag 'students/aiko-sipe.jpg' %>
			<h3>Aiko Sipe</h3>
		</div>
		<div class="student">
			<%= image_tag 'students/aukele-ching.jpg' %>
			<h3>Aukele Ching</h3>
		</div>
		<div class="student">
			<%= image_tag 'students/carly-dano.jpg' %>
			<h3>Carly Dano</h3>
		</div>
		<div class="student">
			<%= image_tag 'students/crystal-cebedo.jpg' %>
			<h3>Crystal Cebedo</h3>
		</div>
		<div class="student">
			<%= image_tag 'students/diamond-tuisano.jpg' %>
			<h3>Diamond Tuisano</h3>
		</div>
		<div class="student">
			<%= image_tag 'students/dresha-desoto.jpg' %>
			<h3>Dresha Desoto</h3>
		</div>
		<div class="student">
			<%= image_tag 'students/jackie-wu.jpg' %>
			<h3>Jackie Wu</h3>
		</div>
		<div class="student">
			<%= image_tag 'students/jamie-sanidad.jpg' %>
			<h3>Jamie Sanidad</h3>
		</div>
		<div class="student">
			<%= image_tag 'students/jomari-seares.jpg' %>
			<h3>Jomari Seares</h3>
		</div>
		<div class="student">
			<%= image_tag 'students/jonay-iokia.jpg' %>
			<h3>Jonay Iokia</h3>
		</div>
		<div class="student">
			<%= image_tag 'students/lester-aquino.jpg' %>
			<h3>Lester Aquino</h3>
		</div>
		<div class="student">
			<%= image_tag 'students/mahealani-nieto-lopes.jpg' %>
			<h3>Mahealani Nieto Lopes</h3>
		</div>
		<div class="student">
			<%= image_tag 'students/oshea-ah-lee-sam.jpg' %>
			<h3>Oshea Ah Lee Sam</h3>
		</div>
	</div>

</div>



