<div class="page-title">
	<h1>Our Students</h1>
</div>
<div class="page-content">
	<% UserInfo.GetClassYears().each do |year| %>
	<div class="students clearfix">
		<% i = 0 %>
			<h2>Class of <%= year %></h2>
			<% @students.each do |student| %>
				<% if student.user_info.classof == year %>
					<% if i % 3 == 0 && i != 0 %>
						</div>
						<div class="row">
					<% elsif i == 0 %>
						<div class="row">
					<% end %>

					<div class="student">
						<a href="#" class="studentModal" data-student="<%= student.id %>">
							<!-- ToDo: Remove this if statement later. This is nasty. -->
							<% if student.user_info.classof == 2016 %>
							<%= image_tag student.user_info.avatar.url(:original), :style=>"height: 200px; max-width: none;" %>
							<% else %>
							<%= image_tag student.user_info.avatar.url(:original), :style=>"height: 145px; max-width: none;" %>
							<% end %>
							<h3><%= "#{student.first_name} #{student.last_name}" %></h3>
						</a>
					</div>

					<div id="student_<%= student.id %>" class="student-modal modal fade">
					  	<div class="modal-dialog">
					  	<div class="modal-content">
							<div class="student-modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3><%= "#{student.first_name} #{student.last_name}" %></h3>
							</div>
							<div class="student-modal-body clearfix">
								<div class="student-image">
							  	<%= image_tag student.user_info.avatar.url(:original) %>
								</div>
								<div class="student-details">
							    <h4>Big Goal: <%= student.user_info.big_goal %></h4>
							    <h4>Why did you apply for the WCSF?</h4>
							    <p><%= student.user_info.why_description %></p>
							    <h4>How will the WCSF help you reach your goals?</h4>
							    <p><%= student.user_info.how_description %></p>
							  </div>
							</div>
						</div>
						</div>
					</div>

					<% i += 1 %>
				<% end %>
			<% end %>
		</div>
	</div>
	<% end %>
</div>

<script>
	$(function(){
		$('.studentModal').click(function(e){
			var id = $(this).data('student');
			$('#student_' + id).modal();
			e.preventDefault();
		});
	})
</script>
