<% @jsinit = "new StudentDashboard().init(#{@dataModel.to_json});" %>

<div class="upper-content clear">   
    <div class="wrapper">
        <div class="greeting left">   
            <h4>Hey there <%= current_user.first_name %>,</h4>
            <h1>Welcome Back!</h1>   
            
            <div class="buttons clear">
                    
                <a href="#"><div class="button left"><div class="text">See your progress</div></div></a>
                <a href="#"><div class="button left double"><div class="text">Check out your badges</div></div></a>
            
            </div>
        </div>   
        
        <div class="current-points left">   
            <div class="featured-graph">   
                <div class="inner">   
                    <h5>You've earned</h5>
                    <h3><%= @dataModel[:StudentDashboard].points_earned %></h3>
                    <h5>Scholarship Points</h5> 
                </div>
            </div>   
        </div>   
    </div>       
</div><!-- .upper-content -->
   
<div class="middle-content clear">   
    <div class="wrapper">
        <h4 class="bold">Great News!</h4>
        <h5>You're meeting the minimum requirements.</h5>
       
        <div class="progress-bar">   
            **Placeholder for Minimum Requirements and Progress Bar**   
        </div>   
    </div>       
</div><!-- .middle-content -->
   
<div class="lower-content">   
    <div class="ribbon gpa clear">   
        <div class="left">   
            <div class="status">   
                <h4>Your GPA</h4>
                <h1><%= @dataModel[:StudentDashboard].semester_gpa %></h1>

                <div class="button">
                    <div class="text">Update your grades</div>
                </div>
            </div>   
        </div>
   
        <div class="right">              
            <div class="inner-frame">
                <ul>
                    <!-- Mabe do this with knockout if its easier -->
                    <% @dataModel[:StudentDashboard].badges.select{|b| b.category == "Academics"}.each do |b| %>
                    <li>
                        <div class="badge">
                            <div class="inner">
                                <span class="badge-name"></span>
                            </div>
                        </div>
                        <div class="points">
                            <%= b.title %> - <%= b.description %> <%= b.badgeValue %>
                        </div>                        
                    </li>
                    <% end %> 
                </ul>
            </div>
        </div>   
    </div><!-- .ribbon -->
   
    <div class="ribbon extracurriculars clear">   
        <div class="left">   
            <div class="status">
                <h4>Extracurriculars</h4>
                <h1><%= @dataModel[:StudentDashboard].total_activities %></h1>
                <h4>Activity</h4>
                
                <div class="button">
                    <div class="text">Update your activities</div>
                </div>
            </div> 
        </div>
   
        <div class="right">
            <div class="inner-frame">
                <ul>
                    <!-- Mabe do this with knockout if its easier -->
                    <% @dataModel[:StudentDashboard].badges.select{|b| b.category == "Activity"}.each do |b| %>
                    <li>
                        <div class="badge">
                            <div class="inner">
                                <span class="badge-name"></span>
                            </div>
                        </div>
                        <div class="points">
                            <%= b.title %> - <%= b.description %> <%= b.badgeValue %>
                        </div>                        
                    </li>
                    <% end %> 
                </ul>
            </div>
        </div>   
    </div><!-- .ribbon -->
   
    <div class="ribbon service clear">   
        <div class="left">   
            <div class="status">
                <h4>Service</h4>
                <h1><%= @dataModel[:StudentDashboard].total_hours %></h1>
                <h4>Hours</h4>

                <div class="button">
                    <div class="text">Add or update service hours</div>
                </div>   
            </div>   
        </div>
   
        <div class="right">   
            <div class="inner-frame">
                <ul>
                    <!-- Mabe do this with knockout if its easier -->
                    <% @dataModel[:StudentDashboard].badges.select{|b| b.category == "Service"}.each do |b| %>
                    <li>
                        <div class="badge">
                            <div class="inner">
                                <span class="badge-name"></span>
                            </div>
                        </div>
                        <div class="points">
                            <%= b.title %> - <%= b.description %> <%= b.badgeValue %>
                        </div>                        
                    </li>
                    <% end %> 
                </ul>
            </div>   
        </div>     
    </div><!-- .ribbon -->
   
    <div class="ribbon PDU clear">
        <div class="left">   
            <div class="status">
                <h4>PDU</h4>
                <h1><%= @dataModel[:StudentDashboard].total_pdus %></h1>
                <h4>Events</h4>

                <div class="button">
                    <div class="text">Add or update PDU events</div>
                </div>
            </div>
        </div>
   
        <div class="right">   
            <div class="inner-frame">
                <ul>
                    <!-- Mabe do this with knockout if its easier -->
                    <% @dataModel[:StudentDashboard].badges.select{|b| b.category == "PDU"}.each do |b| %>
                    <li>
                        <div class="badge">
                            <div class="inner">
                                <span class="badge-name"></span>
                            </div>
                        </div>
                        <div class="points">
                            <%= b.title %> - <%= b.description %> <%= b.badgeValue %>
                        </div>                        
                    </li>
                    <% end %> 
                </ul>
            </div>   
        </div>   
    </div><!-- .ribbon -->
   
    <div class="ribbon testing clear">   
        <div class="left">   
            <div class="status">
   
                <h4>Testing</h4>
                <h1><%= @dataModel[:StudentDashboard].percent_complete %>%</h1>
                <h4>Completed</h4>

                <div class="button">
                    <div class="text">Add or update test data</div>
                </div>    
            </div>
        </div>
   
        <div class="right">   
            <div class="inner-frame">
                <ul>
                    <!-- Mabe do this with knockout if its easier -->
                    <% @dataModel[:StudentDashboard].badges.select{|b| b.category == "Testing"}.each do |b| %>
                    <li>
                        <div class="badge">
                            <div class="inner">
                                <span class="badge-name"></span>
                            </div>
                        </div>
                        <div class="points">
                            <%= b.title %> - <%= b.description %> <%= b.badgeValue %>
                        </div>                        
                    </li>
                    <% end %> 
                </ul>
            </div>
        </div>   
    </div><!-- .ribbon -->   
</div><!-- .lower-content -->
      