<div class="row">
  <div class="span6 offset3">
    <%= form_for(@global_exam) do |f| %>
      <% if @global_exam.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@global_exam.errors.count, "error") %> prohibited this global_exam from being saved:</h2>

          <ul>
          <% @global_exam.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :exam_type %><br />
        <%= f.select :exam_type, [['Practice', 'Practice'], ['Regular', 'Regular'], ['Subject', 'Subject']] %>
      </div>
      <div class="actions">
        <% if isEdit == false %>
          <%= f.submit "Save and Add Another", class: "btn btn-large btn-primary", :name => "save_add_another" %>
        <% end %>
        <%= f.submit "Save changes", class: "btn btn-large btn-primary"%>
      </div>
    <% end %>
  </div>
</div>
