<% @jsinit = 'SchoolActivities' %>

<h1>Add Activities to <%= current_user.user_info.school.name %></h1>

<table>
  <tr>
    <!-- <th>School</th> -->
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @school_activities.each do |school_activity| %>
  <tr>
    <!-- <td><%= school_activity.school_id %></td> -->
    <td><%= school_activity.name %></td> 
    <!-- <td><%= link_to 'Show', school_activity %></td> -->
    <td> | <%= link_to 'Edit', edit_school_activity_path(school_activity) %></td>
    <td><%= link_to 'Delete', school_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Extracurricular Activity', new_school_activity_path %>
