<p id="notice"><%= notice %></p>

<!-- <p>
  <b>School:</b>
  <%= @school_activity.school_id %>
</p> -->

<p>
  <b>Name:</b>
  <%= @school_activity.name %>
</p>


<%= link_to 'Edit', edit_school_activity_path(@school_activity) %> |
<%= link_to 'Back', school_activities_path %>
