<div class="container mtm">
  <div class="left-column pull-left">
    <%= image_tag @user.avatar.url(:original), :class => 'picture-box ml' %>
    <h2 class="mlm" style="text-align:left"><%= link_to 'Edit User Information', edit_user_registration_path(@user, :id => @user.id) %></h2>
    <h2 class="mlm" style="text-align:left">Email: <p><%= @user.email %></p></h2>
    <h2 class="mlm" style="text-align:left">School: <p><%= @user.user_info.try(:school).try(:name) %></p></h2>
      <% if current_user.avatar_file_name == nil || current_user.avatar_file_name.length < 1 %>
        <h3 style="text-align:left">Add your Profile Picture</h3>
        <%= form_for @user, :url => user_path, :html => { :multipart => true } do |form| %>
          <%= form.file_field :avatar %><br />
          <p>
            <%= form.submit "Update Picture", :class => 'btn btn-default mm' %>
          </p>
        <% end %>
      <% end %>
  </div>
  <!-- END LEFT COLUMN -->
  <div class="right-column pull-left">
    <h1 style="text-align:left"><%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
    <h2 style="text-align:left"><%= link_to 'Edit Profile', edit_user_info_path(@user.user_info) %></h2>
    <h2 style="text-align:left">Big Goal (What is your big goal?)<p><%= @user.user_info.try(:big_goal) %></h2>
    <h2 style="text-align:left">Why did you apply to the WCSF?<p><%= @user.user_info.try(:why_description) %></h2>
    <h2 style="text-align:left">How will the WCSF help you reach your goals?<p><%= @user.user_info.try(:how_description) %></p><h2 style="text-align:left">What college do you want to go to?<p><%= @user.user_info.try(:college) %></p></h2>
    <%= image_tag @user.user_info.college_avatar.url(:original), :class => 'picture-box-red ml' %>
  </div>
</div>

