<div class="container">
  <div class="row profile-page">
    <div class="span5">
      <%= image_tag @user.avatar.url(:original), :class => 'picture-box avatar' %>
        <% if current_user.avatar.blank? %>
          <h2>Add your Profile Picture</h2>
          <%= form_for @user, :url => user_path, :html => { :multipart => true } do |form| %>
            <%= form.file_field :avatar, class: 'add-picture' %><br />
            <p>
              <%= form.submit "Update Picture", :class => 'btn btn-primary' %>
            </p>
          <% end %>
        <% end %>
      <h2>Email: <p><%= @user.email %></p></h2>
      <h2>School: <p><%= @user.user_info.try(:school).try(:name) %></p></h2>
      <h2><%= link_to 'Edit User Information', edit_user_registration_path(@user, :id => @user.id) %></h2>
    </div>
    <div class="span7">
      <h1><%= "#{current_user.first_name} #{current_user.last_name}" %></h1>
      <h2><%= link_to 'Edit Profile', edit_user_info_path(@user.user_info) %></h2>
      <h2>Big Goal (What is your big goal?)<p><%= @user.user_info.try(:big_goal) %></h2>
      <h2>Why did you apply to the WCSF?<p><%= @user.user_info.try(:why_description) %></h2>
      <h2>How will the WCSF help you reach your goals?<p><%= @user.user_info.try(:how_description) %></p><h2>What college do you want to go to?<p><%= @user.user_info.try(:college) %></p></h2>
      <% if @user.user_info.college_avatar.blank? != true %>
        <%= image_tag @user.user_info.college_avatar.url(:original), :class => 'picture-box college' %>
      <% else %>
        <%= form_for @user.user_info, :url => user_info_path(@user.user_info), :html => { :multipart => true } do |form| %>
          <h2>Add a picture of your college</h2>
          <%= form.file_field :college_avatar, class: 'add-picture' %><br />
          <p>
            <%= form.submit "Update Picture", :class => 'btn btn-primary' %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

