<p id="notice"><%= notice %></p>

<!-- <p>
  <b>Name:</b>
  <%= @global_exam.name %>
</p> -->

<p>
  <b>Type:</b>
  <%= @global_exam.exam_type %>
</p>


<%= link_to 'Edit', edit_global_exam_path(@global_exam) %> |
<%= link_to 'Back', global_exams_path %>
