<div class="container">
  <h1 class="mtm">Edit your profile here, <%= current_user.first_name %>.</h1>

  <%= form_for(@user_info, :url => user_info_path(@user_info), :html => { :method => :put }) do |f| %>

    <div><%= f.label :big_goal, "Big Goal (What is your big goal?)" %><br />
    <%= f.text_field :big_goal %></div>

    <div><%= f.label :why_description, "Why did you apply to the WCSF?" %><br />
    <%= f.text_field :why_description %></div>

    <div><%= f.label :how_description, "How will the WCSF help you reach your goals?" %><br />
    <%= f.text_field :how_description %></div>

    <div><%= f.label :college, "What college do you want to go to?" %><br />
    <%= f.text_field :college %></div>

    <div><%= f.label :college_avatar, "Add a picture or logo of your college!" %><br />
      <div><%= f.file_field :college_avatar %><br /></div>
    </div>

    <div class="mtm"><%= f.submit "Update" %></div>
  <% end %>
