<div class="container">
  <div class="row student-index">
    <div class="span6">
      <p><%= link_to "Back to All Students", admin_users_path %></p>
      <h1><%= "#{@user.first_name} #{@user.last_name} Activities" %></h1>
      <% if @user.user_info.school.present? %>
        <h2><%= link_to "Add an Activity for #{@user.first_name} #{@user.last_name}", new_admin_user_activity_path(:user_id => @user.id) %></h2>
        <h2>Current Semester: <%= link_to @user.user_info.current_semester, "#{edit_admin_user_path(@user)}#current_semester_dropdown" %></h2>
        <h2># Extracurriculars: <%= @user.user_activities.where(:semester => @user.user_info.current_semester).count %></h2>
      <% else %>
        <p>You must first assign this student a school before you can assign activities. You can do that here: <%= link_to 'Edit User Information', edit_admin_user_path(@user) %></p>
      <% end %>
      <% if @user_activities.present? %>
        <ul class="student-classes">
          <% @user_activities.each do |user_activity| %>
            <li>
              <h4>
              <% if user_activity.leadership_title.present? %>
                <%= link_to "#{user_activity.school_activity.name} (#{user_activity.leadership_title})", edit_admin_user_activity_path(user_activity, :user_id => @user.id) %>
              <% else %>
                <%= link_to "#{user_activity.school_activity.name}", edit_admin_user_activity_path(user_activity, :user_id => @user.id) %>
              <% end %>
              <%= link_to 'Delete', admin_user_activity_path(user_activity), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-warning' %>
              </h4>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
