<%= form_for([:admin, user_info], :url => admin_user_info_path(user_info), :html => { :method => :put }) do |f| %>

  <div>
    <%= f.label :big_goal, "Big Goal (What is your big goal?)" %>
    <%= f.text_field :big_goal %>
  </div>

  <div>
    <%= f.label :why_description, "Why did you apply to the WCSF?" %>
    <%= f.text_area :why_description, :rows => '5' %>
  </div>

  <div>
    <%= f.label :how_description, "How will the WCSF help you reach your goals?" %>
    <%= f.text_area :how_description, :rows => '5' %>
  </div>

  <div>
    <%= f.label :current_semester, :id => 'current_semester_dropdown' %>
    <%= f.select :current_semester, semesters %>
  </div>

  <div>
    <%= f.label :school_id, :id => 'school_id_dropdown' %>    
    <%= f.select :school_id, School.all.map{|x| [x.name, x.id]}, { :selected=>user_info.school_id } %>
  </div>

  <div>
      <%= f.label "Class of" %>
      <%= f.select :classof, UserInfo.GetClassYears(), {:selected => user_info.classof} %>
  </div>

  <%= image_tag user_info.avatar.url(:original), :class => 'picture-box avatar' %>
    <%= f.label :avatar, "Profile Picture" %>
    <div>
      <%= f.file_field :avatar, :class => 'add-picture' %><br />
    </div>
  <br>

  <% if user_info.college_avatar.blank? != true %>
    <%= image_tag @user.user_info.college_avatar.url(:original), :class => 'picture-box college' %>
  <% end %>
  <div>
    <%= f.label :college_avatar, "College Picture" %>
    <div>
      <%= f.file_field :college_avatar, :class => 'add-picture' %><br />
    </div>
  </div>
  <br>
  <br>

  <div>
    <%= f.submit "Update", :class => 'btn btn-primary btn-large' %>
  </div>
<% end %>
<br>
<hr>
<%= link_to 'Delete student', admin_user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

