<!-- TODO: This is an example of bad code - if role of 0 changes this could be hard to find and easily missed -->
<% @role = 50 %>

  <%= form_for [:admin, @user] do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div><%= f.label :first_name %><br />
    <%= f.text_field :first_name, :autofocus => true %></div>

    <div><%= f.label :last_name %><br />
    <%= f.text_field :last_name %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>
    
    <% if editing == false %>
      <div>
        <%= f.label "Class of" %><br />            
        <%= select :user_info, :classof, UserInfo.GetClassYears() %>
      </div>
    <% end %>    
    
    <% if editing == false %>
      <div>
        <%= f.label "School" %><br />      
        <%= select :school, :id, School.all.map{|x| [x.name, x.id]}%>
      </div>
    <% end %>    

    <%= f.hidden_field :role, :value => @role %>

    <% if editing == true %>
      <h4>Authorize Changes</h4>
      <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password %></div>
    <% end %>

    <div><%= f.submit %></div>
  <% end %>
