<% @role = 0 %>

  <%= form_for [:admin, @user] do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div><%= f.label :first_name %><br />
    <%= f.text_field :first_name, :autofocus => true %></div>

    <div><%= f.label :last_name %><br />
    <%= f.text_field :last_name %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>


    <div>
      <%= f.label "School" %><br />
      <% if editing == true %>
        <%= select :school, :id, School.all.map{|x| [x.name, x.id]}, { :selected=>user_info.school_id, :prompt => "Select your school" } %>
      <% else %>
        <%= select :school, :id, School.all.map{|x| [x.name, x.id]}, {:prompt => "Select your school" } %>
      <% end %>
      <%= f.hidden_field :role, :value => @role %>
    </div>

    <% if editing == true %>
      <h4>Authorize Changes</h4>
      <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password %></div>
    <% end %>

    <div><%= f.submit %></div>
  <% end %>
