<div class="container">
  <div class="row student-index">
    <div class="span10">
      <h1>Students</h1>
      <h2><%= link_to "Add a Student", new_admin_user_path %></h2>
      <hr>
      <ul style="position: relative; list-style: decimal;">
        <% @users.each do |user| %>
          <li style="padding-bottom: 10px; border-bottom: 1px dashed; margin-bottom: 10px;">
            <%= "#{user.first_name} #{user.last_name} (#{user.email})" %>
            <span style="position: absolute; right: 0px;">
              <%= link_to 'Edit User', edit_admin_user_path(user), :class => 'btn btn-mini' %> |
              <%= link_to 'Profile', admin_user_path(user), :class => 'btn btn-mini' %> |
              <%= link_to 'Classes', admin_user_classes_path(:user_id => user.id), :class => 'btn btn-mini academics_text' %> |
              <%= link_to 'Activities', admin_user_activities_path(:user_id => user.id), :class => 'btn btn-mini extracur_text' %> |
              <%= link_to 'Services', admin_user_services_path(:user_id => user.id), :class => 'btn btn-mini service_text' %> |
              <%= link_to 'PDUs', admin_user_pdus_path(:user_id => user.id), :class => 'btn btn-mini pdu_text'%> |
              <%= link_to 'Delete', admin_user_path(user), :method => :delete, :data => {confirm: "Are you sure?"}, :class => 'btn btn-mini btn-warning' %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
