<% @jsinit = 'AdminStudents' %>

<div class="leftPane"></div>

<div class="contentContainer" data-bind="">
	<div class="pvm titleBar">
		<div class="font_title-bar_small plxl" data-bind="">Class of 2016</div>			
	</div>

	<div class="studentTile">
		<div class="picture">
			<%= image_tag @student.user_info.avatar.url(:original)%>
		</div>
		<div class="pas info scholarship_bg">
			<div class="pvm studentName"><%= @student.first_name + " " + @student.last_name %></div>
			<div class="pas loginInfo">
				<div>Last login: 10/10/13 10:12 pm</div>
				<div>Logged in attemps: 12</div>
			</div>
		</div>
	</div>

	<div class="studentTile">
		<div class="picture">
			<%= image_tag @student.user_info.avatar.url(:original)%>
		</div>
		<div class="pas info scholarship_bg">
			<div class="pvm studentName"><%= @student.first_name + " " + @student.last_name %></div>
			<div class="pas loginInfo">
				<div>Last login: 10/10/13 10:12 pm</div>
				<div>Logged in attemps: 12</div>
			</div>
		</div>
	</div>

	<div class="studentTile">
		<div class="picture">
			<%= image_tag @student.user_info.avatar.url(:original)%>
		</div>
		<div class="pas info scholarship_bg">
			<div class="pvm studentName"><%= @student.first_name + " " + @student.last_name %></div>
			<div class="pas loginInfo">
				<div>Last login: 10/10/13 10:12 pm</div>
				<div>Logged in attemps: 12</div>
			</div>
		</div>
	</div>
</div>

