<% @user_class.user_id = @user.id %>
<% @user_class.semester = @user.user_info.current_semester %>

<%= form_for [:admin, @user_class] do |f| %>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :semester %>

  <div>
    <%= f.label :school_class_id %>
    <%= f.collection_select :school_class_id, @user.user_info.school.school_classes, :id, :name %>
  </div>

  <div>
    <%= f.label :grade %>
    <%= f.select :grade, @grade_options %>
  </div>


  <div>
    <%= f.submit "Update", :class => 'btn btn-primary btn-large' %>
  </div>
<% end %>
