<header id="mynav" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="" style="padding: 0 10px; height: 100%;">

      <div style="position: absolute;">
      <%= link_to image_tag("wcsf-logo.png", :alt=>"Wai`anae Coast Scholarship Fund", :id=> "wcsflogo"), "http://www.wcsfscholars.org" %>
      </div>
      <% if current_user != nil %>
        <div style="font-size: 2.3em; position: absolute; top: 32px; left: 140px;"><%= current_user.first_name %> <%=current_user.last_name %></div>
      <% end %>
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
        <div class="nav-collapse collapse" id="nav-collapse-01">
          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <% if current_user.is_student? %>
                <li page="Progress"><%= link_to "Progress", progress_path %></li>
                <li page="Badges"><%= link_to "Badges", global_badges_path %></li>
                <li page=""><%= link_to "My Profile", show_user_registration_path(current_user) %></li>
              <% elsif current_user.is_admin? %>
                <li page="SchoolClasses"><%= link_to "All Classes", school_classes_path
                %></li>
                <li page="SchoolActivities"><%= link_to "All Activities", school_activities_path %></li>
                <li page="SchoolPdus"><%= link_to "All PDUs", school_pdus_path %></li>
                <li page="GlobalExams"><%= link_to "Global Exams", global_exams_path %></li>
              <% end %>
              <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav -->
      </div>
    </div>
  </div>
</header>
