<header>   
  <div class="wrapper clear">   
    <div class="imua-logo left">   
      IMUA Wai'anae Coast High School   
    </div>
   
    <nav class="right">   
      <ul>
        <li>Badges</li>
        <li>Progress</li>
        <li>Testing</li>
        <li>Kyle Gracey</li>
      </ul>   
    </nav>   
  </div>      
</header>
<!-- <header id="mynav" class="navbar navbar-fixed-top navbar-inverse">  
  <div class="container">
    <div class="navbar-header" style="cursor: default;">
      <div class="navbar-brand" style="color: white; padding: 10px;">
        <span style="font-weight: bold; font-size: 28px; line-height: 1;">Imua</span>
        <span style="font-size: 16px; font-style: italic;">(ee-mooh-ah) v. Go Forward</span>
      </div>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% if current_user.is_student? %>
            <li class="active" page="Badges">
              <%= link_to global_badges_path do %>
                <span class="glyphicon glyphicon-th"></span>
                Badges
              <% end %>
            </li>
            <li page="Progress">
              <%= link_to progress_path do %>
                <span class="glyphicon glyphicon-road"></span>
                Progress
              <% end %>
            </li>
            <li page="Stats">
              <%= link_to stats_path do %>
                <span class="glyphicon glyphicon-dashboard"></span>
                Stats
              <% end %>
            </li>
          <% elsif current_user.is_teacher? %>
            <li page="AdminStudents"><%= link_to "Students",admin_students_path
            %></li>                
          <% elsif current_user.is_admin? %>
            <li page="Dashboard"><%= link_to "Dashboard", super_admin_dashboard_path
            %></li>
            <li page="SchoolClasses"><%= link_to "All Classes", school_classes_path
            %></li>
            <li page="SchoolActivities"><%= link_to "All Activities", school_activities_path %></li>
            <li page="SchoolPdus"><%= link_to "All PDUs", school_pdus_path %></li>
            <li page="GlobalExams"><%= link_to "Global Exams", global_exam_root_path %></li>            
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.first_name %> <%=current_user.last_name %> <span class="glyphicon glyphicon-user phs"></span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li page="Profile"><%= link_to "Profile", show_user_registration_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>          
        <% end %>              
      </ul>
    </div>
  </div>
  <div class="statusMessageContainer" style="display:none">
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <span class="glyphicon glyphicon-ok-sign icon"></span>
      <span class="phm text">Hello World!</span>      
    </div>
  </div>
</header> -->
