<!DOCTYPE html>
<html>
  <head>
    <title>WCSF</title> <!--full_title(yield(:title)) %> -->
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body jsinit="<%= @jsinit %>">
    <%= render 'layouts/header' %>      
      <div class="pageContainer">
        <% flash.each do |key, value| %>
          <!-- <div class="alert alert-<%= key %>"><%= value %></div> -->
          <!-- OR -->
          <!--
           <%= content_tag(:div, value, class: "alert alert-#{key}") %>
          -->
        <% end %>
        <%= yield %>        
      </div>      
  </body>
  <footer></footer>
</html>
